body{
    background-color: black;
    color: white;
    text-align: center;
}
li{
display: inline;
margin: 40px;
}   
a{
color: white;
}
.img1{
width: 6%;
height: 6%;
float: right;
}
.img5{
position: absolute;
top:125%;
left: 1%;
}