body{
    background-color: black;
    text-align: center;
    color: white;
}
li{
display: inline;
margin: 40px;
}  
a{
  color: white;
} 
.img1{
width: 6%;
height: 6%;
float: right;
}
.img5{
position: absolute;
top:173%;
left: 1%;
}